@import "normalize.styl"

body
	.header
		background #E64C3B
		height 55px
		.icono
			color #CC2F6F
			float left
			margin-left 1.2em
			margin-top 1em
			.menu
				margin 0
				img
					height 21px
					width 26px
		.crazylove
			p
				color white
				font-size 27px
				margin 0
				padding-right 2em
				padding-top 0.4em
				text-align center
	.likes
		height 45px
		.yourself
			float left
			p 
				color #58585B
				font-size 24px
				margin 0
				padding 0.5em 0 0 0.8em

		.like 
			float right 
			p 
				color #6D6E70
				font-size 17px
				margin 0
				padding 1em 1em 0 0
	.profile
		position relative
		.user
			background #E64C3B
			.image
				margin 0
				img 
					height 201px			
					width 320px
		.editar
			background #E64C3B
			border-radius 5px
			height 30px 
			width 90px
			position absolute
			top 0.7em
			right 0.7em
			p 
				text-align center 
				color white
				font-size 15px
				margin 0.4em 0 0 0
		.iconos
			.icono
				float left
				margin-left 2em
				figure
					margin 0
					img 
						width 31px 
						height 25px
						margin-right 2.3em
	.acciones
		height 55px
		background #E6E7E8
		.subirfoto
			float left
			p 
				margin 0
				color #939597
				padding 1.3em 0 0 3em
				font-size 15px
		.fotoperfil
			float right
			padding 0.2em 2.6em 0.2em 2.6em
			margin-top 0.5em
			border-left solid 1px #939597
			p 
				color #939597
				margin 0
				font-size 15px
	.imagen
		float left
		position relative 
		width 36%
		img
			width 100%
		.cruz
			img 
				width 1em
				position absolute
				right 0
				top 0
			
				
